#### `.gitignore`

# SVN directories
.svn

# osx noise
.DS_Store
*.pbxuser
profile

Thumbs.db

#Flex Builder & FlashDevelop noise
#.actionScriptProperties
#.flexProperties
#.project
#.settings

flash/bin/*
flash/bin-debug/*
flash/report/*
flash/bin-test/*
flash/html-template/*
.buildpath
.flexLibProperties

examples/HandleSheet-Demo/bin/*
examples/HandleSheet-Demo/bin-debug/*
examples/HandleSheet-Demo/report/*
examples/HandleSheet-Demo/bin-test/*

examples/Mobile-demo/bin/*
examples/Mobile-demo/bin-debug/*
examples/Mobile-demo/report/*
examples/Mobile-demo/bin-test/*



#Java Noise
*.class

refe/*